*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 30px;
}

.result {
  align-self: end;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  background-color: transparent;
  inline-size: 225px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: none;
  border-left: none;
  padding: 2px 0;
  color: currentColor;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

.button {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  height: 34px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
  inline-size: 194px;
}

.title {
  padding-bottom: 26px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94em;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  block-size: 298px;
  position: relative;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.content__video-card-title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  padding-top: 2px;
  padding-bottom: 4px;
}

.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  line-height: 0.9em;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  inline-size: 100%;
}